<article class="fact-box">
    <dl>
        <div>
            <dt>Tittel</dt>
            <dd>{{ item.title }}</dd>
        </div>
        <div>
            <dt>Kunde</dt>
            <dd>{{ item.client }}</dd>
        </div>
        <div>
            <dt>Årstall</dt>
            <dd>{{ item.year }}</dd>
        </div>
        <div>
            <dt>Nettsted</dt>
            <dd><a href="https://{{ item.url }}" target="_blank">{{ item.url }}</a></dd>
        </div>
    </dl>
</article>