<article class="card">
    <div class="card-inner">
        {% if item.icon %}
            <i class="card-icon{{ " | " + item.icon.color if item.icon.color }}" aria-hidden="true">
                {% include "icons/" + item.icon.symbol + ".svg" ignore missing %}
            </i>
        {% endif %}
        <h3 class="card-title">{{ item.title }}</h3>
        <p class="card-content">{{ item.content }}</p>
        {% if item.link.linkText %}
            <a href="{% if item.link.linkType == "isInternal" %}/{{ item.link.internalUrl.slug.current }}{% endif %}{% if item.link.linkType == "isExternal" %}{{ item.link.externalUrl }}{% endif %}" class="card-link">
                <span>{{ item.link.linkText }}</span>
                {% if item.link.linkIcon %}
                    {% include "icons/" + item.link.linkIcon + ".svg" ignore missing %}
                {% endif %} 
            </a>
        {% endif %}
    </div>
</article>