<article class="project">
    {% if item.featuredImage %} 
        <figure class="project-image">
            <img loading="lazy" src="{{ item.featuredImage }}" alt=""/>
        </figure>
    {% endif %} 
    <div class="project-content">
        <a href="{% if item.link.linkType == "isInternal" %}/{{ item.link.internalUrl.slug.current }}{% endif %}{% if item.link.linkType == "isExternal" %}{{ item.link.externalUrl }}{% endif %}" class="project-title">{{ item.title }}</a>
        {% if item.description %}
            <p class="project-summary">{{ item.description }}</p>
        {% endif %}
    </div>
</article>