.cta {
    font-size: clamp(1rem, 3vw, 1.125rem);
    display: inline-flex;
    align-items: center;
    padding: 1em 1.5em;
    column-gap: 1rem;
    background-color: var(--c-white);
    color: var(--c-void);
    font-weight: 500; 
    text-decoration: none;
    
    svg {
        flex-shrink: 0;
    }

    &:hover { 
        background-color: var(--c-stone);
    }
    
    &.primary {
        background-color: var(--c-indigo);
        color: var(--c-white);
        &:hover {
            background-color: var(--c-indigo-dark);
        }
    }

    &.secondary {
        background-color: var(--c-void);
        color: var(--c-white);
        &:hover {
            background-color: var(--c-charcoal);
        }
    }

    &.ghost {
        background-color: var(--c-transparent);
        color: var(--c-gravel);
        &:hover {
            background-color: var(--c-mist);
        }
    }

    &.full-width {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}