.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--c-text-secondary);
}

.header-logo {
    text-decoration: none;
    font-weight: 700;
    font-size: var(--font-size-m);
    line-height: 1.25;
    padding: .375em .75em;
    border-radius: 4px;
    margin-left: -.75em;

    &:hover,
    &:focus {
        background-color: var(--c-background-tertiary);
    }
}

.header-nav {
    display: none;
    @include x-large-screen {
        display: flex;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        column-gap: .125em;
    }

    a {
        text-decoration: none;
        font-size: var(--font-size-xs);
        padding: .625em 1em;
        border-radius: 4px;
        font-weight: 500;

        &:hover,
        &:focus {
            background-color: var(--c-background-tertiary);
        }
    }
}

.header-menu-toggle {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .375em;
    border-radius: 4px;
    color: inherit;
    padding: .625em .75em .625em 1em;
    background-color: var(--c-background-tertiary);
    font-size: var(--font-size-xs);
    @include x-large-screen {
        display: none;
    }
}

.header-menu-toggle-icon {
    flex-shrink: 0;
    color: var(--c-text-primary);
}