.header {
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.header-nav {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding: 0;
  }

  a {
    display: none;
    font-weight: 600;
    text-decoration: none;

    @media (min-width: 1000px) {
      display: inline-flex;
    }
  }
}

.main-nav-toggle {
  border: 0;
  padding: .5em;
  font-weight: 600;
  line-height: 1.15;
  cursor: pointer;

  @media (min-width: 1000px) {
    display: none;
  }
}

.header-logo {
  font-weight: 600;
  line-height: 1.15;
  text-decoration: none;
}