.hero {
    display: grid;
    align-items: flex-start;
    row-gap: 3rem;
    margin-top: 2.5rem;

    @include large-screen {
        grid-template-columns: 1fr 1.25fr;
        column-gap: 4rem;
        margin-top: 4rem;
    }
    
    @include x-large-screen {
        grid-template-columns: 1fr 1fr;
        column-gap: 6rem;
    }
}

.hero-content {
    @include large-screen {
        padding-block: 2em;
    }
}

.hero-content-title {
    font-size: var(--font-size-xs);
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-weight: 500;
}

.hero-content-intro {
    font-size: var(--font-size-xl);
    line-height: 1.375;
    color: var(--c-text-secondary);
    margin-top: 1em;
    font-family: var(--font-secondary);

    &+.button {
        margin-top: 2.5em;
        font-size: var(--font-size-s);
    }
}

