.project {
  display: flex;
  flex-direction: column;

  &.placeholder {
    border: 2px dashed var(--c-stone);
    border-radius: 8px;
    align-items: center;
    row-gap: 1rem;
    color: var(--c-ash);
    font-size: 1.25rem;
    padding: 2rem;

    .project-image {
      border: 2px dashed var(--c-stone);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
    }
  }
}

.project-image {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 8px;
  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.project-content {
  padding: 1.5rem 0.75rem;
}

.project-title {
  text-decoration: none;
  display: inline-flex;
  font-weight: 600;
  font-size: 1.5rem;
}

.project-summary {
  font-size: 1.125rem;
  margin-top: 0.75rem;
}