.section {
  margin-top: 3rem;
  @include medium-screen {
    margin-top: 5rem;
  }
  @include x-large-screen {
    margin-top: 8rem;
  }
  &.dark {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--c-void);
    color: var(--c-white);
    @include medium-screen {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    @include x-large-screen {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
  }
}

.section-title {
  font-size: 1.75rem;
  line-height: 1.25;
  font-weight: 600;
  max-width: 800px;
  @include medium-screen {
    font-size: 2rem;
    line-height: 1.25;
  }
  @include x-large-screen {
    font-size: 3rem;
    line-height: 1.125;
  }
}

.section-content {
  margin-top: 1.25em;
  line-height: 1.6;
  font-size: 1rem;
  max-width: 800px;
  @include medium-screen {
    font-size: 1.125rem;
  }
  @include x-large-screen {
    font-size: 1.25rem;
  }
}
