<section class="section">
    <div class="constraint">
        <h2 class="section-title">{{ frontPage.pageTitle }}</h2>
        <div class="section-content | rich-text">
            {{ frontPage.pageContent | safe }}
        </div>
        <div class="cta-group">
            <a href="#" class="cta | primary">Se hva vi tilbyr</a>
            <a href="#" class="cta | ghost">Utforsk referanser -></a>
        </div>
    </div>
</section>
