@import "fonts";

$max-content-width: 1280px;

:root {
  --font-primary: "Satoshi", "Inter", "Hanken Grotesk", "IBM Plex Sans", "Mona Sans", sans-serif;
  --font-secondary: "Satoshi", "IBM Plex Sans", "Fraunces", sans-serif;
  
  // Colors 

  --c-dark-1: #18181B;
  --c-dark-2: #222326;
  --c-dark-3: #313035;

  --c-light-1: #FFFFFF;
  --c-light-2: #F7F8F8;
  --c-light-3: #B4BCD0;

  --c-blue-1: #2D66D7;
  --c-blue-2: #387AFB;

  --c-success-1: #55D679;

  --c-background-primary: var(--c-dark-1);
  --c-background-secondary: var(--c-dark-2);
  --c-background-tertiary: var(--c-dark-3);
  
  --c-divider: var(--c-dark-3);

  --c-text-primary: var(--c-light-3);
  --c-text-secondary: var(--c-light-2);
  
  --c-focus-ring: var(--c-blue-2);

  --font-size-xxs: clamp(.75rem, 3vw, .875rem);
  --font-size-xs: clamp(.875rem, 3vw, 1rem);
  --font-size-s: clamp(1rem, 3vw, 1.125rem);
  --font-size-m: clamp(1rem, 3vw, 1.25rem);
  --font-size-l: clamp(1.25rem, 3vw, 1.5rem);
  --font-size-xl: clamp(1.75rem, 3vw, 2.5rem);
}


body {
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--c-background-primary);
  color: var(--c-text-primary);
  font-family: var(--font-primary);
}

strong,
b {
  font-weight: 700;
}

:is(h1,h2,h3,h4,h5,h6) {
  font-family: var(--font-secondary);
}

:focus-visible {
  outline: 3px solid var(--c-focus-ring);
  outline-offset: 3px;
}