<div class="accordion-list">
  {% include 'atoms/accordion' title: "Kan jeg betale med Vipps?" content: "<p>Ja, klart du kan. Brynjulfsen Web er et ENK, så du kan betale gebyrfritt via Vipps.</p>" %}
  {% include 'atoms/accordion' title: "Hvis jeg sender inn et skjema, er det bindende?" content: "<p>Neida, å sende inn et skjema er som å sende en e-post. Det er bare en forespørsel. Jeg svarer deg på forespørselen, og hvis du liker det jeg legger frem så lager vi magi sammen.</p>" %}
  {% include 'atoms/accordion' title: "Kan du lage en nettbutikk til meg?" content: "<p>Nei. Hele poenget med en helt enkel nettside er at den er strippet for kompleks funksjonalitet, som bla. nettbutikk.</p>" %}
</div>