<div class="callout">
  <div class="callout-content">
    <h2 class="callout-title">Klar for å komme i gang?</h2>
    <p class="callout-text">Ta kontakt, så finner vi ut sammen hvilke behov du har og hvilken av priskategoriene du bør velge</p>
  </div>
  <div class="callout-actions">
    {% include 'atoms/buttonLink' text: "Be om et tilbud" type: "primary" %}
  </div>
</div>