<div class="card-navigation-container">
  <nav class="card-navigation">
    {% for item in items %}
      {% assign url = item.link.externalUrl %}
      {% if item.link.isInternal %}
        {% assign url = item.link.internalUrl.slug.current %}
      {% endif %}
      <a
        href="{{ url }}"
        class="card-navigation-link"
        {% if item.link.newTab %}target="_blank"rel="noopener"{% endif %}>
        <div class="card-navigation-link-inner">
          {% if item.icon %}
            <span class="card-navigation-link-icon" aria-hidden="true">
              {% include "atoms/icon" icon: item.icon %}
            </span>
          {% endif %}
          <span class="card-navigation-link-title">{{ item.title }}</span>
          {% if item.description %}
            <span class="card-navigation-link-description">{{ item.description }}</span>
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </nav>
</div>