<dl class="details-list">
  <div class="details-list-item">
    <dt class="details-list-title">
      Type
    </dt>
    <dd class="details-list-description">
      Helt Enkel
    </dd>
  </div>
  <div class="details-list-item">
    <dt class="details-list-title">
      Kunde
    </dt>
    <dd class="details-list-description">
      Tops Frisør AS
    </dd>
  </div>
  <div class="details-list-item">
    <dt class="details-list-title">
      Bransje
    </dt>
    <dd class="details-list-description">
      Frisør
    </dd>
  </div>
  <div class="details-list-item">
    <dt class="details-list-title">
      Sosiale medier
    </dt>
    <dd class="details-list-description">
      <a href="#" class="details-list-link">
        <span>Facebook</span>
        {% include 'atoms/icon' icon: "facebook" %}
      </a>
    </dd>
  </div>
  <div class="details-list-item">
    <dt class="details-list-title">
      Chat
    </dt>
    <dd class="details-list-description">
      <a href="#" class="details-list-link">
        <span>Messenger</span>
        {% include 'atoms/icon' icon: "messenger" %}
      </a>
    </dd>
  </div>
</dl>