<div class="feature-cloud">
  <ul class="feature-cloud-list">
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "pen" %}
      <span>Forfattere</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "camera" %}
      <span>Fotografer</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "scissors" %}
      <span>Frisørsalonger</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "restaurant" %}
      <span>Restauranter</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "home-heart" %}
      <span>Velværesentre</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "flood" %}
      <span>Rørleggere</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "heart-avatar" %}
      <span>Fysioterapauter</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "pencil-ruler" %}
      <span>Tømrere</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "house" %}
      <span>Taktekkere</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "lightning" %}
      <span>Elektrikere</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "briefcase" %}
      <span>Advokater</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "paint-brush-wide" %}
      <span>Malere</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "chat-smile" %}
      <span>Bloggere</span>
    </li>
    <li class="feature-cloud-list-item">
      {% include 'atoms/icon' icon: "football" %}
      <span>Idrettslag</span>
    </li>
  </ul>
</div>