<div class="slideshow">
  <div class="slideshow-show">
    <button class="slideshow-navigation | previous">
      <span class="u-hidden">Forrige bilde</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewbox="0 0 24 24"
        width="24"
        height="24"><path fill="none" d="M0 0h24v24H0z" /><path fill="currentColor" d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
      </svg>
    </button>
    <ul class="slideshow-list">
      <li class="slideshow-item">
        <img src="https://s3-alpha-sig.figma.com/img/06e0/9693/f05478b7204d8a9bb45d2ae6e2419f33?Expires=1679270400&Signature=TbQaCmtnxbki6r628wn3NtX1mzCh7GlubDrwFfEMXPMQmvJtwjSmlG-8Q1BrXi22D-ItHzi-TqrTKxletgt4R7ltJ~sMl-LuTXRxR7huBnKsMLkztvGpirwMZZ9abqCWH5ZCSSKE95pgZU8vwBXCcXrJFcjawbSX6bWwT4dCzBeIF7yhoQxp8AD1x1Ou~ryrxLPScFMyuc5ddcCcdmJvcv8a2e4QZiMbvM~r1EpUYi-FCvm~MKBbeKF0CI6ahUA-0Eta1B8Rxpl6EanxOwZdYD7QzKlce7XFj-Oq3PUWsqH2cWvTrO2eON6lytP1PwdVTmXgmI8s7axA4W57yNdsEA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="Skjermbilde av forsiden til nettsiden topsfrisor.no" />
      </li>
    </ul>
    <button class="slideshow-navigation | next">
      <span class="u-hidden">Neste bilde</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewbox="0 0 24 24"
        width="24"
        height="24"><path fill="none" d="M0 0h24v24H0z" /><path fill="currentColor" d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
      </svg>
    </button>
  </div>
</div>