<div class="tab-filter">
  <button class="tab-filter-button | active">
    Alle
  </button>
  <button class="tab-filter-button">
    Helt enkel
  </button>
  <button class="tab-filter-button">
    Enkel
  </button>
</div>