---
layout: projectpage
tags: 
 - projectpagesCollection 
pagination: 
  data: projectPage 
  alias: projectpage 
  size: 1
  addAllPagesToCollections: true  
permalink: "{{ projectpage.slug.current }}/"   
---     