<footer class="footer">
    <div class="constraint">
        <div class="callout">
            <h2 class="callout-title">{{ siteFooter.title }}</h2>
            {% if siteFooter.footerLinks %}  
                <div class="callout-actions">
                    {% for item in siteFooter.footerLinks %}
                        <a href="{% if item.linkType == "isInternal" %}/{{ item.internalUrl.slug.current }}{% endif %}{% if item.linkType == "isExternal" %}{{ item.externalUrl }}{% endif %}" class="cta{{ " | primary" if item.isPrimary }}">
                            <span>{{ item.linkText }}</span>
                            {% if item.linkIcon %}
                                {% include "icons/" + item.linkIcon + ".svg" ignore missing %}
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="constraint">
        <div class="footer-inner">
            <div class="footer-content | rich-text">
                <p>2022 © Brynjulfsen Web &nbsp;|&nbsp;
                    <a href="#">Om nettsiden</a>
                </p>
            </div>
            <div class="footer-actions">
                <a href="#" class="icon-link | twitter">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path
                            fill="currentColor"
                            d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0
                                0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0
                                1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0
                                1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0
                                2.087-2.165z"/>
                    </svg>
                </a>
                <a href="#" class="icon-link | facebook">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path
                            fill="currentColor"
                            d="M15.402 21v-6.966h2.333l.349-2.708h-2.682V9.598c0-.784.218-1.319 1.342-1.319h1.434V5.857a19.19 19.19 0 0
                                0-2.09-.107c-2.067 0-3.482 1.262-3.482 3.58v1.996h-2.338v2.708h2.338V21H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h16a1 1 0 0 1 1
                                1v16a1 1 0 0 1-1 1h-4.598z"/>
                    </svg>
                </a>
            </div>
        </div>
    </footer>