<header class="header" id="top">
    <div class="constraint">
        <div class="header-inner">
            <a href="#" class="header-logo">
                Helt Enkle<br/>Nettsider
            </a>
            {% if siteHeader.navigation %}
                <div class="header-nav">
                    <ul>
                        {% for item in siteHeader.navigation %}
                            <li>
                                <a href="#">{{ item.linkText }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <button class="main-nav-toggle">Meny</button>
                </div>
            {% endif %}
        </div>
    </div>
</header>